@-ms-viewport { width: device-width;
 }
@media only screen and (min-device-width: 800px) { html { overflow:hidden; } }
			* { padding: 0; margin: 0; }
html { height: 100%; }
body { height: 100%; overflow:hidden; color:#000000; font-family: "Arial"; position: relative; background-color: #fafafa; }
#container { height: 100%; min-height: 100%; width: 75%; margin: 0 auto; }
#tourDIV {
	height:74%;
	position:relative;
	overflow:hidden;
	margin: 30px;
	}
a:link {
	color: white;
}
a:visited {
	color: white;
}
a:active{
	color:#bababa;
}
a:hover{
	color: #bababa;
}
a{
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  text-decoration: none;
}
#panoDIV {
height:100%;
position:relative;
overflow:hidden;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-o-user-select: none;
user-select: none;
}
#bar{
	width:100%;
	background-color: #6636cc;
	height:130px;
	position: relative;
}
#www{
	font-size: 38px;
	color:white;
	font-weight: bold;
	left:130px;
	top:42px;
	position: absolute;
	font-family: Arial;
}
	
ul{
	position:fixed;
	list-style-type:none;
	color:white;
	margin: 0px;
    padding-right:30px;
    font-weight: bold;
    font-size:16px;
    top:32px;
    left:900px;
    weght:180px;
    line-height:32px;
    max-width: 600px;
}
li {
    display: inline;
    margin: 20px;
}
#vk{
	height:44px;
	weight:44px;
	position: absolute;
	left:1430px;
	top:40px;
}	
#hhh{
	position: absolute;
	height: 120px;
	left:5px;
	top:6px;
}
 [data-title] {
     position: relative; /* Относительное позиционирование */ 
     cursor: help; /* Меняем курсор на справочный */
   }
   [data-title]::after {
     content: attr(data-title); /* Выводим текст из атрибута data-title */
     position: absolute; /* Абсолютное позиционирование */
     left: 0px; top: 125px; /* Положение подсказки */
     opacity: 0; /* Скрываем подсказку, делая её прозрачной */
     transition: 1s; /* Время появления подсказки */
     pointer-events: none; /* Подсказка не реагирует на курсор */
     background: rgba(57, 137, 201, 0.9); /* Синий цвет фона */
     color: #fff; /* Белый цвет текста */
     padding: 0.5em; /* Поля вокруг текста */
     z-index: 1;
   }
   [data-title]:hover::after {
     opacity: 1; /* Показываем подсказку */
   }